<div class="row" id="comment_<%= comment.id %>">
  <div class="col-md-2">
    <span class="pull-right">
      <%= link_to gravatar_for(comment.user), comment.user %>
    </span>
  </div>
  <div class="col-md-8">
    <div class="col-md-11">
      <b><%= link_to comment.user.name, comment.user %></b>
      <%= comment.content %>
      <br/>
      <h6><%= comment.created_at.strftime t(:timetype) %></h6>
    </div>
    <div class="col-md-1">
      <%= link_to t(:delete), comment, method: :delete,
        remote: true if current_user? comment.user %>
    </div>
    <%= link_to t(:edit), edit_comment_path(comment), comment: comment, class: "btn btn-primary",
      remote: true %>
  </div>
</div>
