<% provide :title, @user.name %>
<h1><%= @user.name %></h1>

<div class="btn-group profile-btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default">
    <%= pluralize @user.reviews.count, t("review") %>
  </button>
  <button type="button" class="btn btn-default">
    <%= pluralize @user.following.count, t("following") %>
  </button>
  <button type="button" class="btn btn-default">
    <%= pluralize @user.followers.count, t("followers") %>
  </button>
  <% if logged_in? %>
    <%= render "follow_form" %>
  <% end %>
</div>

<div class="row">
  <div class="col-md-6">
    <ul class="books">
      <% if @favorite_books.any? %>
        <h3><%= t :userfavorite, username: @user.name %></h3>
        <% @favorite_books.each do |book| %>
          <%= render "shared/show_book", book: book %>
        <% end %>
        <%= will_paginate @favorite_books %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-6">
    <ul class="books">
      <% if @read_books.any? %>
        <h3><%= t :userread, username: @user.name %></h3>
        <% @read_books.each do |book| %>
          <%= render "shared/show_book", book: book %>
        <% end %>
        <%= will_paginate @read_books %>
      <% end %>
    </ul>
  </div>
</div>
