<div id="book-<%= book.id %>">
  <div class="book">
    <div class="book-title">
      <%= image_tag book.picture.url if book.picture? %>
      <%= link_to book.title, book %>
    </div>
    <div class="book-author">
      <%= t :author %>
      <%= book.author %>
    </div>
    <div class="book-publish-date">
      <%= t :publishdate %>
      <%= book.publish_date %>
    </div>
    <div class="book-number-pages">
      <%= t :numberpages %>
      <%= book.number_pages %>
    </div>
    <div class="book-category">
      <%= t :category %>
      <%= book.category.name %>
    </div>
    <div class="timestamp">
      <%= t :posted %>
      <%= time_ago_in_words book.created_at %>
      <%= book.created_at.strftime t :timetype %>
    </div>
    <div class="book-rating" id="book_rating">
      <% if book.rating > 0.0 %>
        <%= t :rating %>
        <%= book.rating %>
      <% end %>
    </div>
  </div>
</div>
