<%= render "shared/show_book", book: book %>
<% if logged_in? %>
  <div id="request_form">
    <%= render current_user.request?(book.id) ? "cancel" : "request",
      book_id: book.id %>
  </div>
  <div id="review_count">
    <%= book.reviews.count %>
    <%= t :reviews %>
  </div>
  <section class="review">
    <%= render "shared/review_form", book: book %>
  </section>
  <div id="reviews_<%= book.id %>">
    <% if book.reviews.any? %>
      <%= render @reviews, book: book %>
      <%= will_paginate @reviews %>
    <% end %>
  </div>
<% end %>
