<span class="title">
  <%= link_to book.title, book %>
</span>
<span class="book-info">
  <%= image_tag book.picture.url if book.picture? %>
  <%= t :author %>
  <%= book.author %>
  <%= t :publish_date %>
  <%= book.publish_date %>
  <%= t :number_pages %>
  <%= book.number_pages %>	
</span>
<span class="timestamp">
  <%= t :posted %>
  <%= book.created_at.strftime t(:timetype) %>
</span>
<span class="book-rating" id="book_rating">
  <% if book.rating > 0.0 %>
    <%= t :rating %>
    <%= book.rating %>
  <% end %>
</span>
<% if logged_in? %>
  <div id="review_count">
    <%= book.reviews.count %>
    <%= t :reviews %>
  </div>
  <section class="review">
    <%= render "shared/review_form", book: book %>
  </section>
  <div id="reviews_<%= book.id %>">
    <% if book.reviews.any? %>
      <%= render @reviews, book: book %>
      <%= will_paginate @reviews %>
    <% end %>
  </div>
<% end %>
