<% provide :title, t(:allbooks) %>
<h1><%= t :allbooks %></h1>

<%= form_tag books_path, method: "get" do %>
  <%= label_tag :title %>
  <%= text_field_tag :title, params[:title] %>
  <%= label_tag :category %>
  <%= select_tag :category,
    options_from_collection_for_select(@categories, "id", "name"),
    include_blank: true %>
  <%= label_tag :rating %>
  <%= number_field_tag :rating, params[:rating], within: 1..10 %>
  <%= label_tag :favorite %>
  <%= check_box_tag :favorite, current_user.id %>
  <%= submit_tag t :search %>
<% end %>

<ul class="books">
  <% @books.each do |book| %>
    <%= render "shared/show_book", book: book %>
  <% end %>
  <%= will_paginate @books %>
</ul>
