<% provide :title, t(:allbooks) %>
<h1><%= t :allbooks %></h1>

<%= form_tag books_path, method: "get" do %>
  <%= label_tag :title %>
  <%= text_field_tag :title, params[:title] %>
  <%= label_tag :category %>
  <%= select_tag :category,
    options_from_collection_for_select(@categories, "id", "name"),
    include_blank: true %>
  <%= submit_tag t :search %>
<% end %>

<%= will_paginate %>
<ul class="books">
  <% @books.each do |book| %>
    <li id="book-<%= book.id %>">
      <span class="title">
        <%= link_to book.title, book %>
      </span>
      <span class="book-info">
        <%= image_tag book.picture.url if book.picture? %>
        <%= t :author %>
        <%= book.author %>
        <%= t :publish_date %>
        <%= book.publish_date %>
        <%= t :number_pages %>
        <%= book.number_pages %>
        <%= t :category %>
        <%= book.category.name %>
      </span>
      <span class="timestamp">
        <%= t :posted %>
        <%= time_ago_in_words book.created_at %>
      </span>
      <div>
        <%= link_to t(:addreview), book if logged_in? %>
      </div>
    </li>
  <% end %>
</ul>
<%= will_paginate %>
