<% provide :title, t("allcategories") %>
<h1><%= t :allcategories %></h1>
<div class="row">
  <div class="center">
    <%= link_to t(:newcategory), new_admin_category_path,
      class: "btn btn-primary btn-lg" %>
  </div>
  <% @categories.each do |category| %>
    <div class="category">
      <%= category.name %>
      <%= link_to t(:delete), [:admin, category], method: :delete,
        data: {confirm: t(:areyousure)}, class: "btn btn-danger float-right" %>
      <%= link_to t(:edit), edit_admin_category_path(category),
        class: "btn btn-primary" %>
    </div>
  <% end %>
  <%= will_paginate %>
</div>
