<% provide :title, t(:allrequests) %>
<h1><%= t :allrequests %></h1>

<%= will_paginate %>
<ul class="requests">
  <% @requests.each do |request| %>
    <div class="request" id="request-<%= request.id %>">
      <span>
        <%= t :user %>
        <%= link_to request.user(request.user_id).name, request.user(request.user_id) %>
        <%= t :requestcolon %>
        <%= link_to request.book(request.book_id).title, request.book(request.book_id) %>
        <div id="request_accept">
        <%= link_to t(:delete), [:admin, request], method: :delete,
          data: {confirm: t(:areyousure)}, class: "btn btn-danger float-right" %>
          <% if request.request_status %>
            <button type="button" class="btn btn-success" disabled="disabled">
              <%= t :accepted %>
            </button>
          <% else %>
            <%= form_for [:admin, request], remote: true do |f| %>
              <%= f.hidden_field :request_status, value: true %>
              <%= button_tag t(:accept), type: "submit", class: "btn btn-primary" %>
              <%= render "shared/error_messages", object: f.object %>
            <% end %>
          <% end %>
        </div>
      </span>
    </div>
  <% end %>
</ul>
<%= will_paginate %>
