<div id="review_<%= review.id %>">
  <div class="row" >
    <div class="col-md-1">
      <span class="pull-right">
        <%= link_to gravatar_for(review.user), review.user %>
      </span>
    </div>
    <div class="col-md-9">
      <div class="col-md-10">
        <b><%= link_to review.user.name, review.user %></b>
        <%= t :rating %>
        <%= review.rate if review.rate.present? %>
        <span class="time-small">
          <%= review.created_at.strftime t(:timetype) %>
        </span>
        <div>
          <%= review.content %>
        </div>
      </div>
      <div class="col-md-2">
        <%= link_to t(:delete), review, method: :delete,
          data: {confirm: t(:areyousure)} if current_user? review.user %>
        <%= link_to t(:edit), edit_review_path(review),
          remote: true if current_user? review.user %>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
  <div id="comment_<%= review.id %>">
    <%= render review.comments, review: review if review.comments.any? %>
  </div>
  <div class="comment-form">
    <%= render "shared/comment_form", review: review %>
  </div>
</div>
